*
{
    margin: 0px;
    padding: 0px;
}
body{
    background-size: cover;
    background-image: url("https://static.vecteezy.com/system/resources/previews/022/513/254/non_2x/summer-nature-landscape-background-with-mountain-lake-by-ai-generated-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
body::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;  
}
p
{
    color:beige;
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
}
#Header
{
    text-align: center;
    text-decoration: solid;
}

.N01
{
    display: flex;
    flex-direction: row;
    justify-content: row-reverse;
}
#Box1
{
    background-size: cover;
    background-image: url("https://tse4.mm.bing.net/th?id=OIP._Vum6l40vT4XDdabdlsZdwHaEo&pid=Api&P=0&h=220");
    width: 100px;
    height: 100px;
    display: inline-block; 
    border: 2px solid black;
}
#Box2
{
    background-size: cover;
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.o3yjBD7RgTjvK9gNreoVDAHaEK&pid=Api&P=0&h=220");
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid black;
}
#Box3
{
    background-size: cover;
    background-image: url("https://tse4.mm.bing.net/th?id=OIP.n3UmeKR4xbQJSxQnJl2kaAHaHg&pid=Api&P=0&h=220");
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid black;  
}
#Box4
{
    background-size: cover;
    background-image: url("http://wallpapercave.com/wp/i7QJ9mb.jpg");
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid black;
}
#Box5
{
    background-size: cover;
    background-image: url("https://tse2.mm.bing.net/th?id=OIP.zb2bMkSw2aP62F8liqmASQHaE8&pid=Api&P=0&h=220");
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid black;
}

footer
{
    width: 100%;
    height: 100px;
    display: flex;
    position: absolute;
    justify-content: center;
    color: white;
    background-color: black;
    bottom: 0%;
}
#L1
{
    color: white;
}
a{
    color:white;
    text-decoration: none;
}
a:visited
{
    color:white;
}
a:hover
{
    color:red;
    text-decoration: underline;
    cursor:pointer;
}
a:active
{
    color:purple;
    font-weight: bold;
}
